dist/
server/node_modules
server/dist

client

client-ts/logs
client-ts/*.log
client-ts/npm-debug.log*
client-ts/yarn-debug.log*
client-ts/yarn-error.log*
client-ts/pnpm-debug.log*
client-ts/lerna-debug.log*

client-ts/node_modules
client-ts/dist
client-ts/dist-ssr
client-ts/*.local

client-ts/.vscode/*
client-ts/!.vscode/extensions.json
client-ts/.idea
client-ts/.DS_Store
client-ts/*.suo
client-ts/*.ntvs*
client-ts/*.njsproj
client-ts/*.sln
client-ts/*.sw?