@font-face {
    font-family: D-DIN-Exp;
    src: url(fonts/D-DINExp.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: block
}

@font-face {
    font-family: D-DIN-Bold;
    src: url(fonts/D-DIN-Bold.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: block
}

@font-face {
    font-family: D-DIN-Regular;
    src: url(fonts/D-DIN.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: block
}

body {
    background-color: #000000;
    font-family:D-DIN-Regular;
    margin: 0;
    padding: 0;
}

p {
    color: aliceblue;
    margin: 1rem;
}