.nameselect {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
}

.welcome {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 50px;
    align-self: center;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.enter-name {
    font-size: 20px;
    align-self: center;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}

.name-input {
    text-decoration: none;
    align-self: center;
    margin-top: 0.5rem;
    background-color: transparent;
    text-align: center;
    font-family: D-DIN-Regular;
    font-weight: 500;
    transition: 500ms;

    

    font-size: 40px;
    height: 70px;
    width: 90%;
    color: white;

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

.submit-label {
    margin-top: 1.5rem;
    align-self: center;
    height: 3.5rem;
    width: 10rem;

    background-color: #222;
    color: #555;
    box-shadow: none;

    
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: aliceblue; */
    
    transition: 0.3s;
    font-family: D-DIN-Bold;
    border-radius: 0.3rem;
}

.submit-label.enabled {
    background-color: transparent;
    color: white;
    box-shadow: 0 0 0 2px white;
    cursor: default;
}

.submit-label.enabled:hover {
    background-color: aliceblue;
    color: black;
}
