.peer {
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    /* background-color: aqua; */
}

.name {
    margin-top: 1rem;
    align-self: center;
}

.icon {
    height: 9rem;
    width: 9rem;
    align-self: center;
    margin-top: -1rem;
    margin-bottom: -1rem;
    
    /* background-color: #222; */
}

.progress {
    height: 24px;
    width: 16rem;
    margin-top: 1rem;
    align-self: center;
    

    appearance: none;
    /* outline-style: solid;
    outline-width: 2px; */
    /* outline-color: aliceblue; */
    border-radius: 0.3rem;
    box-shadow: 0 0 0 2px white;
    -webkit-outline: 2px
    
}

progress::-webkit-progress-bar {
    background-color: transparent;
    
}

progress::-webkit-progress-value {
    background-color: aliceblue;
}
  

.buttons {
    margin-top: 2rem;
}

input[type="file"] {
    display: none;
}


.input-file {
    margin-top: 2rem;
    align-self: center;
    height: 3.5rem;
    width: 10rem;

    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: aliceblue; */
    box-shadow: 0 0 0 2px white;
    transition: 0.3s;
    font-family: D-DIN-Bold;
    border-radius: 0.3rem;
    
}

button {
    display: none;
}

.send-file {
    height: 3.5rem;
    width: 7rem;
    outline-style: solid;
    outline-width: 2px;
    outline-color: aliceblue;
    font-family: D-DIN-Bold;
    margin-left: 0.75rem;
}

.buttons {
    padding: 0;
    display: inline-block;
    position: relative;
    text-align: center;
}

.label {
    display:flex; 
    align-items:center;
    justify-content:center;
    color: aliceblue;
    height: 100%;
    transition: 0.3s;
    font-family: D-DIN-Bold;
}

.input-file.dragover {
    background-color: aliceblue;
    width: 12rem;
    color: black;
}

.input-file:hover {
    background-color: aliceblue;
    color: black;
}